$footer-height: 100px;

$footer-height-mobile: 200px;
@media (max-width: 750px) {
	#footer {
		height: $footer-height-mobile;
	}

	#wrap {
		margin: 0 auto -$footer-height-mobile;
		padding: 0 0 -$footer-height-mobile;
	}

	#footer .social {
		margin-top: 10px;
	}

}

html {
	height: 100%;
}

.Site {
  	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -footer-height;
	padding: 0 0 $footer-height;
}

#footer {
	height: $footer-height;
	color: white;
	background-color: rgba(36, 32, 33, 0.9);
	font-family: "Helvetica-Neue", Helvetica;
	padding: 10px 0;
	margin-top: 30px;
	font-weight: 100;
}

#footer a {
	color: white;
	font-weight: 100;
}

.Site-content {
	flex: 1;
}

.social a:hover {
	text-decoration: none;
}

.social-button {
	width: 32px;
	margin: 4px;
}